#div_a {
    transition-property: margin-left, margin-top;
    transition-duration: 2s;
    transition-timing-function: linear;
}
#div_a1 {
    transition-property: margin-left, margin-top;
    transition-duration: 2s;
    transition-timing-function: linear;
}
#div_a2 {
    transition-property: margin-left, margin-top;
    transition-duration: 2s;
    transition-timing-function: linear;
}
#div_a3 {
    transition-property: margin-left, margin-top;
    transition-duration: 2s;
    transition-timing-function: linear;
}
#Animate {
    border: 1px solid black;
    border-radius: 5px;
}
span {
    border: 2px solid transparent;
    border-radius: 6px;
}
