body {
    background-color: #494949;
}
.card {
    color: black;

    top: 0;
    left: 0;
    display: inline-block;
    background-color: darkred;
    height: 50%;
    width: 50%;
    position: absolute;
}
.name {
    color: white;
    background-color: #4a014a;
    position: absolute;
    bottom: 0;
    right: 0;
}
.card2 {
    color: black;

    right: 0;
    top: 0;
    display: inline-block;
    height: 50%;
    width: 50%;
    background-color: #24a69d;
    position: absolute;
}
.name2 {
    color: white;
    background-color: #00127e;
    position: absolute;
    bottom: 0;
    right: 0;
}
.card3 {
    color: black;

    left: 0;
    bottom: 0;
    display: inline-block;
    height: 50%;
    width: 50%;
    background-color: #36bf56;
    position: absolute;
}
.name3 {
    color: white;
    background-color: #0b4708;
    position: absolute;
    bottom: 0;
    right: 0;
}.card4 {
     color: black;

     bottom: 0;
     right: 0;
     display: inline-block;
     height: 50%;
     width: 50%;
     background-color: #d34545;
     position: absolute;
 }
.name4 {
    color: white;
    background-color: #48104a;
    position: absolute;
    bottom: 0;
    right: 0;
}